/*Main*/

.cuerpo {
  width: 100%;
  border: 1px solid black;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.5);
  color: #ffffff;
  margin-bottom: 20px;
  box-shadow: 0px 2px 7px rgba(0, 0, 0, 0.5);
  text-align: justify;
}

.cuerpo span {
  font-weight: bold;
  color: black;
}

.cuerpo img {
  float: left;
  max-width: 200px;
  margin-right: 10px;
  border: 1px solid black;
}

.cuerpo h2 {
  margin: 10px;
  padding-right: 5px;
  padding-bottom: 10px;
}

.cuerpo h3 {
  margin: 10px;
  padding-right: 5px;
  padding-bottom: 10px;
}

.cuerpo li {
  margin: 10px;
  padding-right: 5px;
  padding-bottom: 10px;
  list-style: circle;
}

.cuerpo p {
  margin: 10px;
  padding-right: 5px;
  padding-bottom: 10px;
}

@media only screen and (max-width: 768px) {
  .cuerpo img {
    float: left;
    max-width: 150px;
    margin-right: 10px;
    border: 1px solid black;
  }
}

/*Calculo Edad*/

.calculo {
  width: 100%;
  margin: 0 auto;
  margin-bottom: 20px;
  padding-top: 15px;
  background-image: url(img/fondo3.jpg);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.calculo h1 {
  text-align: center;
}

.calculo form {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-gap: 20px;
}

.calculo label {
  font-weight: bold;
  padding-left: 20px;
  margin-bottom: 10px;
  color: #ffffff;
}

.calculo input {
  padding: 10px;
  margin-right: 20px;
  border: none;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.calculo button {
  padding: 10px;
  margin-left: 20px;
  background-color: darkgrey;
  color: #ffffff;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease;
  box-shadow: 0 0 10px rgba(0, 0, 0, 1);
}

.calculo button:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 1);
  cursor: pointer;
  background-color: #333333;
  transition-duration: 0.5s;
}

.calculo-resultado {
  align-items: center;
  text-align: center;
  font-weight: bold;
  padding: 10px;
  margin-top: 10px;
  color: #ffffff;
}

@media only screen and (max-width: 768px) {
  .cuerpo p {
    font-size: 15px;
  }
}
