/*Main*/

.cuerpo {
  width: 100%;
  border: 2px solid rgba(0, 0, 0, 0.523);
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.5);
  color: #ffffff;
  margin-bottom: 20px;
  box-shadow: 0px 2px 7px rgba(0, 0, 0, 0.5);
  text-align: justify;
  display: flex;
  align-items: center;
}

.cuerpo-text h2 {
  font-size: 23px;
  font-weight: bold;
  text-decoration: solid;
  padding-left: 10px;
}

.cuerpo-text h3 {
  color: rgba(0, 0, 0, 0.796);
  font-size: 16px;
  font-weight: bold;
  text-decoration: solid;
  padding-left: 20px;
  list-style: disc;
}

.cuerpo-text p {
  margin-top: 10px;
  margin-bottom: 10px;
  padding-left: 25px;
  padding-right: 25px;
  padding-bottom: 5px;
  font-size: 17px;
}

@media only screen and (max-width: 768px) {
  .cuerpo p {
    font-size: 15px;
  }
}
